{{vuln_info_final | to_xml("Vulnerability_Info")}}

<Fix_Guideline>
    {{guideline}}
</Fix_Guideline>

<Instruction>
Using the provided fix guideline and the previously shared vulnerability information, create a detailed description of how you would address the vulnerability.
Additionally, provide a rationale explaining why your proposed solution is effective.
</Instruction>